<?xml version='1.0' encoding='utf-8'?>
<widget id="com.recentsky.test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Recentsky</name>
    <description>
        
    </description>
    <author email="info@recentsky.com" href="https://recentsky.com">
        Recentsky Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/ldpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/mdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/hdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/xhdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/xxhdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icon/android/xxxhdpi/ic_launcher.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="/img/logo-splash.png" />
        <preference name="SplashScreenBackgroundColor" value="#3f51b5" />
        <preference name="SplashScreenWidth" value="225" />
        <preference name="SplashScreenHeight" value="225" />
    </platform>
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
</widget>
